<div class='fb-tab-pane active' id='baseField'>
	<div class="section base-panel">
		<label for="start_date">开始时间<span class="important">*</span>：</label>		
		<div class="input-group">
			<input id="start_date" name="start_date" type="text" class="form-control" placeholder="开始时间">
			<span class="input-group-addon">
				<i class="fa fa-clock-o bigger-110"></i>
			</span>
		</div>
		<label>结束时间<span class="important">*</span>：</label>		
		<div class="input-group">
			<input id="end_date" name="end_date" type="text" class="form-control" placeholder="结束时间">
			<span class="input-group-addon">
				<i class="fa fa-clock-o bigger-110"></i>
			</span>
		</div>
	</div>
</div>