<div class='fb-tab-pane' id='baseField'>
	<div class="section base-panel">
		<label for="start_date">开始时间<span class="important">*</span>：</label>		
		<div class="input-group">
			<input id="start_date" name="start_date" type="text" class="form-control" placeholder="开始时间">
			<span class="input-group-addon">
				<i class="fa fa-clock-o bigger-110"></i>
			</span>
		</div>
		<label>结束时间<span class="important">*</span>：</label>		
		<div class="input-group">
			<input id="end_date" name="end_date" type="text" class="form-control" placeholder="结束时间">
			<span class="input-group-addon">
				<i class="fa fa-clock-o bigger-110"></i>
			</span>
		</div>
		<div class="row mt-8">
			<div class="col-xs-12 form-inline">
				<div class="form-group">
					<label>
						<input id="islogin" name="islogin" class="ce-switch" type="checkbox">
						<span class="lbl"></span>
					</label>
					<label class="adjust">答卷需要登录验证</label>
				</div>
			</div>
		</div>
	</div>
</div>