<div class="question_head">
	<div id="q_edit_view">
		<div class="question_panel">
			<label for="title">问卷标题<span class="important">*</span>：</label>
			<div class="head_right"><input type="text" id="title" name="title" class="full" /></div>
		</div>
		<div class="question_panel">
			<label for="cnt1" class="gray">问卷说明&nbsp;：</label>
			<div id="editor"><textarea id="cnt1" name="content" class="editor"></textarea></div>
		</div>
	</div>
	<div id="q_see_view" style="display: none">
		
	</div>
</div>