<div>行标题</div>

<div class='option rows' data-rv-each-rows='model.<%= Formbuilder.options.mappings.ROWS %>'>
  <input type="text" data-rv-input="rows:label" class='option-label-input' />
  <a class="js-add-option <%= Formbuilder.options.BUTTON_CLASS_SM %>" title="添加新选项"><i class='fa fa-plus-circle'></i></a>
  <a class="js-remove-option <%= Formbuilder.options.BUTTON_CLASS_SM %>" title="删除选项"><i class='fa fa-minus-circle'></i></a>
  <a class="js-go-next <%= Formbuilder.options.BUTTON_CLASS_SM %>" title="下移"><i class="glyphicon glyphicon-arrow-down"></i></a>
  <a class="js-go-prev <%= Formbuilder.options.BUTTON_CLASS_SM %>" title="上移"><i class="glyphicon glyphicon-arrow-up"></i></a>
</div>

<div>列标题</div>

<div class='option cols' data-rv-each-cols='model.<%= Formbuilder.options.mappings.COLS %>'>
  <input type="text" data-rv-input="cols:label" class='option-label-input' />
  <a class="js-add-option <%= Formbuilder.options.BUTTON_CLASS_SM %>" title="添加新选项"><i class='fa fa-plus-circle'></i></a>
  <a class="js-remove-option <%= Formbuilder.options.BUTTON_CLASS_SM %>" title="删除选项"><i class='fa fa-minus-circle'></i></a>
  <a class="js-go-next <%= Formbuilder.options.BUTTON_CLASS_SM %>" title="下移"><i class="glyphicon glyphicon-arrow-down"></i></a>
  <a class="js-go-prev <%= Formbuilder.options.BUTTON_CLASS_SM %>" title="上移"><i class="glyphicon glyphicon-arrow-up"></i></a>
</div>